<div class="form-block">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="seach city name" [(ngModel)]="cityName" name="city" />
  </form> 
</div>
<div class="container" *ngIf="weatherData">
    <section class="upper">
      <img src="../assets/cloudy.jpg" *ngIf="weatherData.main.temp > 15" >
      <img src="../assets/sunnyjpg.jpg" *ngIf="weatherData.main.temp <= 15">
      <div class="floating-content">
        <p>{{weatherData.name}}</p>
        <span>{{((weatherData.main.temp-32)*5/9) | number:'1.0-0'}}<sup>°C</sup></span>
      </div>
    </section>
    <section class="bottom">
       <div class="block">
         <div class="left">
           <div class="info">
              <img src="../assets/temperature.png">
              <span>min</span>
           </div>
           <div class="details">
             {{((weatherData.main.temp_min-32)*5/9) | number:'1.0-0'}}°C
           </div>
         </div>
         <div class="right">
            <div class="info">
              <img src="../assets/hot.png">
              <span>max</span>
          </div>
          <div class="details">
            {{((weatherData.main.temp_max-32)*5/9) | number:'1.0-0' }}°C
          </div>
         </div>
       </div>

       <div class="block">
        <div class="left">
          <div class="info">
             <img src="../assets/humidity.png">
             <span>Humidity</span>
          </div>
          <div class="details">
            {{weatherData.main.humidity}}%
          </div>
        </div>
        <div class="right">
           <div class="info">
             <img src="../assets/wind.png">
             <span>Wind</span>
         </div>
         <div class="details">
          {{weatherData.wind.speed}}km/h
         </div>
        </div>
      </div>
    </section>
</div>
<router-outlet></router-outlet>
